<h2 class="title fs-2">Додати клієнта</h2>

<form   [formGroup]="postForm" (ngSubmit)="sendRequest()">
  <div class="form-fields-container">
    <label class="form-field">
      <span class="field-label">Номер клієнта:</span>
      <input class="input" type="text" formControlName="user_number">
    </label>

    <label class="form-field">
      <span class="field-label">Ім'я клієнта:</span>
      <input class="input" type="text" formControlName="user_name">
    </label>

    <label class="form-field">
      <span class="field-label">E-mail:</span>
      <input class="input" type="text" formControlName="email">
    </label>

    <label for="valueOfKey" class="form-field">
      <span class="field-label">Номер телефону:</span>
      <input class="input" type="text" formControlName="phone">
    </label>
    
    <label class="form-field">
      <span class="field-label">Статус:</span>
      <input class="input" type="text" formControlName="user_status">
    </label>

    <label class="form-field">
      <span class="field-label">Баланс:</span>
      <input class="input" type="text" formControlName="balance">
    </label>
  </div>
  <div class="home-btn-wrapper">
    <button class="btn home-btn fs-5" type="submit">Відправити запит</button>
  </div>
</form>

<div class="home-btn-wrapper">
  <button routerLink="../" class="btn home-btn fs-5">Назад</button>
</div>
