<h2 class="title fs-2">Отримати дані про рахунки</h2>

<form   [formGroup]="getForm" (ngSubmit)="sendRequest()">
  <div class="form-fields-container">
    <label class="form-field">
      <span class="field-label">Статус рахунка:</span>
      <select class="select" formControlName="status">
        <option value="'оплачений'">оплачений</option>
        <option value="'неоплачений'">неоплачений</option>
        <option value="'відмінений'">відмінений</option>
        <option value="'очікує оплати'">очікує оплати</option>
      </select>
    </label>
    
    <label  class="form-field">
      <span class="field-label">Послуга:</span>
      <input class="input" type="text" formControlName="account">
    </label>
  </div>
  <div class="home-btn-wrapper">
    <button class="btn home-btn fs-5" type="submit">Відправити запит</button>
  </div>
</form>

<h3 *ngIf="request" class="title"> Запит надісланий на: {{request}}</h3>

<div *ngIf="items">
  <table>
    <thead>
      <tr>
      <th>№ рахунка</th>
      <th>Опис послуги</th>
      <th>Сума</th>
      <th>Статус</th>
      <th>№ клієнта</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.account_number}}</td>
        <td>{{item.account_description}}</td>
        <td>{{item.sum}}</td>
        <td>{{item.account_status}}</td>
        <td>{{item.client_number}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="home-btn-wrapper">
  <button routerLink="../" class="btn home-btn fs-5">Назад</button>
</div>


