<h2 class="title fs-2">{{ title }}</h2>

<div class="requests-wrapper">
  <div class="menu">
    <div class="menu-item inner-menu-item">
      <li class="btn" routerLink="/support-data/get-form">GET-запит</li>
    </div>
    <div class="menu-item inner-menu-item">
      <li class="btn" routerLink="/support-data/post-form">POST-запит</li>
    </div>
    <div class="menu-item inner-menu-item">
      <li class="btn" routerLink="/support-data/put-form">PUT-запит</li>
    </div>
    <div class="menu-item inner-menu-item">
      <li class="btn" routerLink="/support-data/delete-form">DELETE-запит</li>
    </div>
  </div>
</div>

<div class="home-btn-wrapper">
  <div class="menu-item inner-menu-item">
    <button routerLink="../" class="home-btn fs-5">До головного меню</button>
  </div>
  <div class="menu-item inner-menu-item">
    <button class="home-btn fs-5" (click)="getAll()">Отримати всі дані</button>
  </div>
</div>

<div *ngIf="amount">
  <table class="general-table">
    <thead>
      <tr>
      <th>Номер запита</th>
      <th>Виконуючий працівник</th>
      <th>Статус</th>
      <th>Номер клієнта</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.prefix}}-{{item.ticket_number}}</td>
        <td>{{item.executive_worker}}</td>
        <td>{{item.ticket_status}}</td>
        <td>{{item.client_number}}</td>
      </tr>
    </tbody>
  </table>
</div>
