<h2 class="title fs-2">Видалити додаткову послугу</h2>

<form   [formGroup]="deleteForm" (ngSubmit)="sendRequest()">
  <div class="form-fields-container">
    <label class="form-field">
      <span class="field-label">Ключ:</span>
      <select class="select" formControlName="key">
        <option value="addon_number" selected>Номер послуги</option>
        <option value="addon_name">Ім'я послуги</option>
      </select>
    </label>
    
    <label  class="form-field">
      <span class="field-label">Значення ключа:</span>
      <input class="input" type="text" formControlName="valueOfKey">
    </label>
  </div>
  <div class="home-btn-wrapper">
    <button class="btn home-btn fs-5" type="submit">Відправити запит</button>
  </div>
</form>

<h3 *ngIf="request" class="title"> Запит надісланий на: {{request}}</h3>

<div class="home-btn-wrapper">
  <button routerLink="../" class="btn home-btn fs-5">Назад</button>
</div>
