@font-face {
  font-family: 'Arimo';
  src: url(assets/Arimo/Arimo-Regular.ttf);
}

@font-face {
  font-family: 'Arimo Bold';
  src: url(assets/Arimo/Arimo-Bold.ttf);
}

* {
  font-family: 'Arimo';
}

body {
  margin: 0;
  background: rgb(158,153,245);
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(158,153,245,0.7315301120448179) 0%,
    rgba(190,190,246,0.865983893557423) 35%,
    rgba(255,255,255,0.6811099439775911) 100%
  );
}

.title {
  margin-bottom: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-weight: 600;
}

.menu {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.menu-item {
  margin: 1rem;
  width: 20%;
  list-style: none;
}

.inner-menu-item {
  margin: 2rem 10%;
  width: 20%;
}

.btn {
  margin: 2rem 2rem;
  border-radius: 6px;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  background-color: #e47847;
  -webkit-box-shadow: 
    16px 14px 33px -13px rgba(0,0,0,0.75),
    inset 16px 14px 63px -24px rgba(212,211,214,1);
  -moz-box-shadow: 
    16px 14px 33px -13px rgba(0,0,0,0.75),
    inset 16px 14px 63px -24px rgba(212,211,214,1);
  box-shadow: 
    16px 14px 33px -13px rgba(0,0,0,0.75),
    inset 16px 14px 63px -24px rgba(212,211,214,1);
}

.btn:hover {
  background-color: #ffc0a3;;
}

.btn:active {
  
  background-color: #b5b7f0;
  position: relative;
  top: 0.2rem;
  left: 0.2rem;
  -webkit-box-shadow: 
    16px 14px 33px -13px rgba(0,0,0,0.75),
    inset 16px 14px 63px -24px rgba(132,131,135,1);
  -moz-box-shadow: 
    16px 14px 33px -13px rgba(0,0,0,0.75),
    inset 16px 14px 63px -24px rgba(132,131,135,1);
  box-shadow: 
    16px 14px 33px -13px rgba(0,0,0,0.75),
    inset 16px 14px 63px -24px rgba(132,131,135,1);
}

.home-btn-wrapper {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.home-btn {
  border: none;
  display: block;
  margin: 0 auto;
  width: 14rem;
}

.home-btn:active {
  margin: 0;
  position: relative;
  top: 0.2rem;
  left: 0.2rem;
}

.fs-1 {
  font-size: 2rem;
}

.fs-2 {
  font-size: 1.75rem;
}

.fs-5 {
  font-size: 1rem;
}
