<h2 class="title fs-2">Змінити дані про рахунок</h2>

<form   [formGroup]="putForm" (ngSubmit)="sendRequest()">
  <div class="form-fields-container">
    <label class="form-field">
      <span class="field-label">Критерій пошуку:</span>
      <select class="select" formControlName="key">
        <option value="account_number">Номер рахунку</option>
        <option value="account_description">Опис рахунку</option>
      </select>
    </label>
    
    <label for="valueOfKey" class="form-field">
      <span class="field-label">Значення критерія пошуку:</span>
      <input class="input" type="text" id="valueOfKey" formControlName="valueOfKey">
    </label>

    <label class="form-field">
      <span class="field-label">Поле:</span>
      <select class="select" formControlName="field">
        <option value="account_number">Номер рахунку</option>
        <option value="account_description">Опис рахунку</option>
        <option value="sum">Сума</option>
        <option value="account_status">Статус рахунку</option>
        <option value="client_number">Номер клієнта</option>
      </select>
    </label>

    <label for="valueOfKey" class="form-field">
      <span class="field-label">Значення поля:</span>
      <input class="input" type="text" formControlName="valueOfField">
    </label>
  </div>
  <div class="home-btn-wrapper">
    <button class="btn home-btn fs-5" type="submit">Відправити запит</button>
  </div>
</form>

<h3 *ngIf="request" class="title"> Запит надісланий на: {{request}}</h3>

<div class="home-btn-wrapper">
  <button routerLink="../" class="btn home-btn fs-5">Назад</button>
</div>
